* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    font-size: 18px;
    margin: 0;
    background-color: gray;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.box {
    display: grid;
    grid-template-rows: 80% 20%;
    border: 1px solid black;
    height: 500px;
    width: 500px;
}
.box-bottomm {
    border-radius: 50%;
    border: 1px solid black;
    grid-row: 1;
    height: 100%;
}
.box-bottom {
    grid-row: 2;
    height: 100%;
}
.timer {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
